* {
    font-family: 'Cormorant', serif;;
    
}



.custom-navfoot {
    background-color: #261132; 
    
    
    
    
}


.inline {
    display: flex;
    justify-content: space-evenly;
    
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; 
}

.custom-card {
    height: 300px;
    width: 500px; 
    
}

nav i.material-icons {
    font-size: 50px; 
}
  

.carousel .carousel-item {
    height: 300px; 
    width: 200px;
}

#resume {
    color:#261132;
}
    
.sidenav li>a {
    color: black;
    font-size: 18px;
     
}
.sidenav {
    height: 25%;
    width: 150px;
    text-align: center;
    background-color: rgb(121, 89, 121);
    border-radius: 10px;
}

.color {
    color:black;
    text-align: center;
    font-size: 18px;
}
