* {
    font-family: 'Cormorant', serif;;
    
}


nav {
    background-color: white;
    box-shadow: none;
    
}
.custom-foot {
    background-color: #261132; 
    
    
    
    
}
p {
    font-size: 20px;
}


.inline {
    display: flex;
    justify-content: space-evenly; 
    
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content:center;
     
}

.custom-card {
    height: 300px;
    width: 500px; 
    
}

nav i.material-icons {
    font-size: 50px; 
    color: black; 
}
nav ul a {
    color: black; 
    font-size: 20px; 
    padding-bottom: 0;
}
  

.carousel .carousel-item {
    height: 300px; 
    width: 200px;
}

#resume {
    color: rgb(136, 26, 136);
    text-align: center;
    font-size: 15px;
}
    
.sidenav li>a {
    color: black;
    font-size: 18px;
     
}
.sidenav {
    height: 30%;
    width: 150px;
    text-align: center;
    border-radius: 5px;
}

.color {
    color:black;
    text-align: center;
    font-size: 18px;
}


