* {
    font-family: 'Cormorant', serif;;
    
}



.custom-navfoot {
    background-color: #261132; 
    
    
    
    
}
.card.horizontal .card-image img {
    border-radius: 15px 0 0 15px
}

.inline {
    display: flex;
    justify-content: space-evenly;
}


.custom-card {
    border-radius: 20px;
    
}

nav i.material-icons {
    font-size: 50px; 
}
  
    

